body{
     background-color: darkgray;
}
#background-video {
     width: 100vw;
     height: 100vh;
     object-fit:fill;
     position: fixed;
     left: 0;
     right: 0;
     top: 0;
     opacity: 0.8;
     bottom: 0;
     z-index: -1;
   }
h2{
     color: orange ;
     font-size: 40px;
     font-weight: 700;
}

button{
     background-color: aqua;
     font-size: 20px;
}
/* .feedback{
     text-align: center;
}
input.name{
     background-color: grey;
     font-size: 20px;
}
input.msg{
     background-color: grey;
     font-size: 20px;
}
.input_box1{
     color: purple;
     font-size: 25px;
     font-weight: 600;
     text-align: left;
     text-align: center;
}
.input_box2{
     text-align: center;
     color: purple;
     font-size: 25px;
     font-weight: 600;
}*/
ul.buttons{
     font-weight: 600;
     font-family: sans-serif;
     color: rgb(255, 255, 255);
     font-size: 25px;
     padding-left: 50ch;
     /* text-align: center; */
}

form{
     text-align: center;
     font-size: 30px;
     font-weight: 800;
     color: purple;
}
a{
     color: aliceblue;
}
a:hover{
     color: aqua;
}
h1{
     /* background: linear-gradient(to right, rgb(255, 66, 66),
     rgb(150, 3, 255));
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text; */
     padding-top: 60px;
     color: ora;
     font-size: 60px;
     text-align: center;
}